# This grub-initial.cfg is embedded to boot the real grub with the Debian 
# grub.cfg. # The Debian Grub then uses GPG to verify the signatures on 
# the kernal and # initrd. This initial Grub is signed with the db key
# written to the TPM.

# Enforce that all loaded files must have a valid signature.
set check_signatures=enforce
export check_signatures

set superusers="root"
export superusers
password_pbkdf2 root grub.pbkdf2.sha512.1000000.898C4B8A559722A17829DDAD7165EE8358719D52783E432439E339CCFD5DD63D47648E993E9D64BA86CAACDAB982CFB614705D67A54CD7BA16CD1B7B57AD71DD.3A2401BD939C107F290204B633577F83A2767B9770F19A4C04BBAE92272D2BF37B0B900A49996765E1BB7B9A4AB45231A344BDA09BC5F869E2B40740F1BDDDE4 
# NOTE: We export check_signatures/superusers so they are available in all
# further contexts to ensure the password check is always enforced.

# First partition on first disk, most likely EFI system partition. Set it here
# as fallback in case the search doesn't find the given UUID.
set root='hd0,gpt1'
search --no-floppy --fs-uuid --set=root 41f85d8a-3669-417c-8a68-31b1edd73596
# example, see below: search --no-floppy --fs-uuid --set=root 891F-FF86

configfile /grub/grub.cfg

# Without this we provide the attacker with a rescue shell if he just presses
# <return> twice.
echo /EFI/grub/grub.cfg did not boot the system but returned to initial.cfg.
echo Rebooting the system in 10 seconds.
sleep 10
reboot
